.bg-primary {
    background-color: $color-bg-primary;
}
.bg-secondary {
    background-color: $color-bg-secondary;
}
.bg-danger {
    background-color: $color-bg-danger;
}
.bg-success {
    background-color: $color-bg-success;
}
.bg-warning {
    background-color: $color-bg-warning;
}
.bg-disabled {
    background-color: $color-bg-disabled;
}
.bg-dark {
    background-color: $color-bg-dark;
}
.bg-light {
    background-color: $color-bg-light;
}

.text-primary {
    color: $color-text-primary;
}
.text-secondary {
    color: $color-text-secondary;
}
.text-danger {
    color: $color-text-danger;
}
.text-success {
    color: $color-text-success;
}
.text-warning {
    color: $color-text-warning;
}
.text-disabled {
    color: $color-text-disabled;
}
.text-dark {
    color: $color-text-dark;
}
.text-light {
    color: $color-text-light;
}