$color-1: #989FFE;
$color-2: #5372E7;
$color-8: #E8264F;
$color-9: #1D907E;
$color-10: #FDB815;
$color-3: #F6F6F6;
$color-4: #E9EDF2;
$color-5: #A6A6A6;
$color-6: #171717;
$color-7: #020202;
$color-8: #936B52;

$color-bg-primary: #5372E7;
$color-bg-secondary: #989FFE;
$color-bg-disabled: #A6A6A6;
$color-bg-dark: #171616;
$color-bg-light: #fafafa;
$color-bg-danger: #E8264F;
$color-bg-success: #1D907E;
$color-bg-warning: #FDB815;
$color-text-primary: #5372E7;
$color-text-secondary: #989FFE;
$color-text-disabled: #A6A6A6;
$color-text-dark: #0e0d0d;
$color-text-light: #ffffff;
$color-text-danger: #E8264F;
$color-text-success: #1D907E;
$color-text-warning: #FDB815;